[Desktop Entry]
Version=2.5.2020
Type=Application
Terminal=true
Name=PakOS Fast Updates
Exec=/usr/sbin/PakOSHub.sh ChooseFastestUpdateMirror
Icon=/usr/share/icons/PakOS_Icons/fastUpdate.png
Comment=Choose Fastest Update Mirror For PakOS
Path=
StartupNotify=true
Catagories=<Settings;Utility>
