[Desktop Entry]
Version=2.5.2020
Type=Application
Terminal=true
Name=PakOS Security
Exec=/usr/sbin/PakOSHub.sh Security
Icon=/usr/share/icons/PakOS_Icons/Security.png
Comment=PakOS Security Options
Path=
StartupNotify=true
Catagories=<Settings;Utility>
