[Desktop Entry]
Version=2.5.2020
Type=Application
Terminal=true
Name=PakOS Developer Tools
Exec=/usr/sbin/PakOSHub.sh 4
Icon=/usr/share/icons/PakOS_Icons/Builder.png
Comment=PakOS Developer Tools
Path=
StartupNotify=true
Catagories=<Settings;Utility>
