Package: pakoshub
Version: 0.2.2-2
Architecture: all
Maintainer: GSM PakOS <gsm.pakos@gmail.com>
Installed-Size: 1947
Section: Utilities
Priority: optional
Homepage: https://sourceforge.net/projects/pakos/
Description: Please see the Other Menu to Find all PakOS Icons.
 PakOS Hub is a set of utilities . Please see the Other Menu to Find all PakOS
 Icons which include following set of Icons / Utilities:
 1.
 2.
 3.
 4.
 5.
 6.
 7.
 8.
 9.
 10.
 11.
 12.
